<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_northwind_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=ilyoung;password=1234;initial catalog=northwind;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>