<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tutorial1.Properties.Settings.testConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=test;Persist Security Info=True;User ID=ilyoung;Password=1234"
            providerName="System.Data.SqlClient" />
		<add name="Tutorial1.Properties.Settings.northwindConnectionString"
		   connectionString="Data Source=localhost;Initial Catalog=northwind;Persist Security Info=True;User ID=ilyoung;Password=1234"
		   providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>